<% title "成功案例-成都红宝石企业建站" %>
<% meta_keywords "建站成功案例，案例展示，成都红宝石企业建站，红宝石网络" %>
<% meta_description "成都红宝石企业网站建设专家，开发团队具有多年互联网从业经验，团队为企业提供策划、开发、推广、运维一站式服务！联系电话：15928661802" %>

<div class="cotnet2"><h3>成功案例</h3>
  <ul>
	  <% @news_items.each_with_index do |item, index| %>
	    <li>
	    <%= link_to image_tag(item.image_path), news_item_path(item, :case => true), :class => 'case_list_link' %>
	    <p align="center"><%= link_to item.title, news_item_path(item, :case => true) %></p>
	    </li>
	  <% end %>
 </ul>
 <%= will_paginate @news_items %>
</div>