<div class="banner"><img src="/assets/banner.jpg" /></div>
<div class="tuigi"><a href="online.html"><img src="/assets/banner2.jpg" /></a></div>
<div class="content">
  <div class="msruby">
    <ul>
      <li><div class="icon"></div>
        <p class="ruby-wz"><strong>【开发模式】</strong><br />
          我们不断地尝试敏捷开发方法。通过互动方式为特征，快速的开发周期，并不断响应需求/解决方案为基础的优先次序，敏捷团队已经证明可以通过更少的时间产生优异的业绩。
        </p>
      </li>
      <li><div class="icon2"></div>
        <p class="ruby-wz"><strong>【合作理念】</strong><br />
          我们作为您的商业伙伴，为您制定和实施您认为最佳的解决方案，以满足您的需求。有见地的分析和战略规划，我们的工作给你你需要的竞争优势。</p>
      </li>
      <li><div class="icon3"></div>
        <p class="ruby-wz"><strong>【服务范围】</strong><br />
          企业网站策划、开发、运维
          电子商务、Web2.0应用开发
          网络数据采集、数据分析
          网络营销及推广
          IT教育培训</p>
      </li>
      <li><div class="icon4">
        </div>
        <p class="ruby-wz"><strong>【团队理念】</strong><br />
          勤奋、务实、高效；<br />
          简洁、乐观、大方。</p>
      </li>
    </ul>
  </div>

  <div class="cotnet2"><h3>成功案例</h3>
    <ul>
      <li><a href="#" title="网站名称"><img src="/assets/picruby.jpg" /></a>
        <p align="center"><a href="#" title="网站名称">网站名称</a></p></li>
      <li><a href="#" title="网站名称"><img src="/assets/picruby.jpg" /></a>
        <p align="center"><a href="#" title="网站名称">网站名称</a></p></li>
      <li><a href="#" title="网站名称"><img src="/assets/picruby.jpg" /></a>
        <p align="center"><a href="#" title="网站名称">网站名称</a></p></li>
      <li><a href="#" title="网站名称"><img src="/assets/picruby.jpg" /></a>
        <p align="center"><a href="#" title="网站名称">网站名称</a></p></li>
      <li><a href="#" title="网站名称"><img src="/assets/picruby.jpg" /></a>
        <p align="center"><a href="#" title="网站名称">网站名称</a></p></li>
      <li><a href="#" title="网站名称"><img src="/assets/picruby.jpg" /></a>
        <p align="center"><a href="#" title="网站名称">网站名称</a></p></li>
      <li><a href="#" title="网站名称"><img src="/assets/picruby.jpg" /></a>
        <p align="center"><a href="#" title="网站名称">网站名称</a></p></li>
      <li><a href="#" title="网站名称"><img src="/assets/picruby.jpg" /></a>
        <p align="center"><a href="#" title="网站名称">网站名称</a></p></li>
    </ul>
  </div>
  <div class="about"><strong>我们的优势</strong>  互联网总是以先进的技术作为最大的推动力，我们以不断的进取精神探索新技术，让下一个项目用上最先进的技术。</div>
  <div class="jsruby">
    <ul>
      <li><p class="title">关注最新的开发服务平台：云计算</p>
        <p>云计算，主要是指服务的交付和使用模式，指通过网络以按需、易扩展的方式获得所需的服务。提供资源的网络被称为'云'。'云'中的资源在使用者看来是可以无限扩展的，并且可以随时获取，按需使用，随时扩展，按使用付费。通过云计算，我们就像使用日常水电一样使用网络资源，网络将进入云计算时代。</p>
      </li>
      <li><p class="title">追随Web新技术的发展：Ruby</p>
        <p>Ruby，一种为简单快捷面向对象编程而创的脚本语言， Ruby on Rails是一个 Web 应用程序框架,是一个相对较新的 Web 应用程序框架，构建在 Ruby 语言之上。它被宣传为现有企业框架的一个替代，而它的目标，简而言之，就是让生活，至少是 Web 开发方面的生活，变得更轻松。</p>
      </li>
    </ul>
  </div>
</div>