<% title [@page.title, "红宝石信息技术网，专业网站建设专家"].join(' - ') %>
<% meta_keywords [@page.meta_keywords, "成都红宝石企业建站"].join(' - ') %>
<% meta_description [@page.meta_description, "成都红宝石开发团队具有多年互联网从业经验，团队为企业提供策划、开发、推广、运维一站式服务！联系电话：15928661802"].join(' - ') %>

<div id="page">
  <%#= @page.body.html_safe unless @page.body.blank?%>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <% if ["about", "service_more"].include?(@page.path_name) %> 
    <%= @page.body.to_s.gsub(/^<br\/>|<p>/, '').html_safe unless @page.body.blank?%>
  <% else %>
    <%= simple_format @page.body.to_s.gsub(/^<br\/>|<p>/, '').html_safe unless @page.body.blank?%>
  <% end %>
</div>

<%= render :partial => 'layouts/bshare' %>
