
<!-- <div class="page" style="background-image: url(http://www.inruby.com/resume/index_bg.png);"> -->
<div class="page" style="background-color: #8EBF93;"> 
<div id="container" style="background-image: url(http://www.inruby.com/resume/index_bg2.png);">
    <div style="padding: 20px;  font-size: 24px; color: red;">
        <p><br></p><p>发了招聘信息，收不到简历？</p>
        <p>找到搜索简历，却找不到那么多？</p>
        <p>团队要持续不断的扩充人员，招聘的投入很大？</p>
        <p>也许，我们能帮到您!</p>
      </div>
  <h1>1. 我们是谁？</h1>
    <p>我们是专业的网络简历人才库数据提供商， 我们为你提供以下服务： </p>
    <ul>
      <li><span style="color: #3366ff;">全国各大招聘机构人才数据库（前程无忧、智联招聘、中华英才网、百才招聘、百伯网等）</span></li>
        <li><span style="color: #3366ff;">全国各大同城分类网站人才数据库（赶集网、58同城、百姓网、易登网等）</span></li>
        <li><span style="color: #3366ff;">全国社会化网络招聘网站人才数据库（大街网、微博招聘、向日葵等）</span></li>
        <li><span style="color: #3366ff;">实时更新的人才数据库</span></li>
  </ul>
  <h1>2. 我们解决您的什么问题？</h1>
    
   许多企业和优秀营销团队，无法在购买了招聘服务的网站上及时获得更多的人才推荐信息，苦于找不到人，招不到才！
  <ul>
        <li><span style="color: #3366ff;">注册人才招聘网需要花费一笔入会费</span></li>
        <li><span style="color: #3366ff;">往往只能注册其中一个或者几个网站，招聘渠道闭塞</span></li>
        <li><span style="color: #3366ff;">就算注册了，发布的招聘信息石沉大海，无人投递简历</span></li>
        <li><span style="color: #3366ff;">主动搜索简历，却有量的限制，数据太少，找不到合适的</span></li>
  </ul>
    
  <h1>3. 我们怎么做到</h1>
      
        <p>我们花费了不菲的价格，在全国各大招聘网站都注册了会员。并通过技术手段，采集到每个网站每一天更新的最新简历，把这些简历分门别类的存在我们自己的数据库中。通过友好的方式展现给您，您不必每日奔波在各大招聘网站上去搜索简历，您只需每天登录到我们提供的后台，一次性得到所有招聘网站每天更新的简历，找到符合条件的人才，给他们打电话，发短信，发邮件。
      
       <br><b>这是一个人才为赢的时代!</b>
      
       <br><b>被动纳才的时代已经过去，快速主动出击，找到最适合自己企业的人才，共同发展壮大事业！  </b>
</p>
        
  <h1>4. 活动套餐</h1>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody><tr>
        <td align="center" valign="middle"><a href="http://www.inruby.com/contact" target="_blank"><img src="http://www.inruby.com/resume/btn_stand.png" width="280" alt="标准会员"></a></td>
        <td align="center" valign="middle"><a href="http://www.inruby.com/contact" target="_blank"><img src="http://www.inruby.com/resume/btn_advanced.png" width="280" alt="标准会员"></a></td>
        <td align="center" valign="middle"><a href="http://www.inruby.com/contact" target="_blank"><img src="http://www.inruby.com/resume/btn_vip.png" width="280" alt="标准会员"></a></td>
      </tr>
    </tbody></table>
     <h1>联系我们</h1>
     电话：15928661802
    <br/> QQ: 2576455908
    
<h1><strong><span style="font-size: large; color: #ff6600;">5. 我们提供给客户的数据展示</span></strong></h1>
    <p><img src="http://www.inruby.com/resume/resume.jpg" width="1358" height="880" alt="人才库信息"></p>
  
  <div id="ad_content" style="background-color: #fff; padding: 20px;">     
    <h1>6. 通过招聘网获得的服务与通过我们的服务比较</h1>
    <table width="100%" border="1" cellspacing="0" cellpadding="0">
      <tbody><tr>
        <th scope="col">招聘机构</th>
        <th scope="col">服务价格</th>
        <th scope="col">服务项目</th>
        <th scope="col">与我们比较</th>
      </tr>
      <tr>
        <td>现场招聘会</td>
        <td>500元/场</td>
        <td>提供展位</td>
        <td><p>耗费大量人力物力</p>
          <p>人才的不对口</p></td>
      </tr>
    </tbody></table>
    <p><img src="http://www.inruby.com/resume/xianchang.jpg" alt="现场招聘会" width="500" height="333" border="1"></p>
    <table width="100%" border="1" cellspacing="0" cellpadding="0">
      <tbody><tr>
        <th scope="col">招聘机构</th>
        <th scope="col">服务价格</th>
        <th scope="col">服务项目</th>
        <th scope="col">与我们比较</th>
      </tr>
      <tr>
        <td>前程无忧</td>
        <td>会员制，500元/月起</td>
        <td><p>职位发布20个</p>
        <p>简历下载50个</p></td>
        <td><p>发布的职位如果不推广的话，无人问津</p>
        <p>我们每天都可以下载超过20条最新简历</p></td>
      </tr>
    </tbody></table>
    <img src="http://www.inruby.com/resume/51job.png" width="874" height="525" alt="前程无忧">
    <table width="100%" border="1" cellspacing="0" cellpadding="0">
      <tbody><tr>
        <th scope="col">招聘机构</th>
        <th scope="col">服务价格</th>
        <th scope="col">服务项目</th>
        <th scope="col">与我们比较</th>
      </tr>
      <tr>
        <td>中华英才网</td>
        <td>300元/月起</td>
        <td><p>发布职位5个</p>
        <p>下载简历20个</p></td>
        <td><p>发布的职位如果不推广的话，无人问津</p>
        <p>我们每天都可以下载超过20条最新简历</p></td>
      </tr>
    </tbody></table>
    <p><img src="http://www.inruby.com/resume/chinahr.png" alt="中华英才网" width="877" height="576"></p>
    <table width="100%" border="1" cellspacing="0" cellpadding="0">
      <tbody><tr>
        <th scope="col">招聘机构</th>
        <th scope="col">服务价格</th>
        <th scope="col">服务项目</th>
        <th scope="col">与我们比较</th>
      </tr>
      <tr>
        <td>同城信息网</td>
        <td>免费发布</td>
        <td>发布招聘信息</td>
        <td><p>每天不断刷新招聘信息，获取更多访问量</p>
        <p>自动下载更新的简历</p></td>
      </tr>
    </tbody></table>
    <p><img src="http://www.inruby.com/resume/ganji.png" alt="赶集网" width="736" height="199" border="1"></p>
     <h1>联系我们</h1>
     电话：15928661802
    <br/> QQ: 2576455908
     
 </div>
</div>
</div>

<style type="text/css">
<!--
.page {
  background-image: url(http://www.inruby.com/resume/index_bg.png);
  background-repeat: repeat-y;
  background-position: center top;
}
#container {
  width: 880px;
  padding: 20px;
  margin: 0px auto;
  background-image: url(http://www.inruby.com/resume/index_bg2.png);
  background-repeat: no-repeat;
  background-position: center top;
}
#container h1 {
  color: #F33;
  font-family: "微软雅黑";
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}
#ad_content{
  padding: 10px;
  background-image: url(http://www.inruby.com/resume/index_bg2.png);
  background-repeat: no-repeat;
  background-position: center top;
}
-->
</style>

