/* index.html */
#page1 #content .col-1, #page1 #content .col-2 {width:178px;margin-right:34px}
#page1 #content .col-3 {width:178px}
/* index-1.html */
#page2 #content .col-1, #page2 #content .col-2 {width:178px;margin-right:34px}
#page2 #content .col-3 {width:178px}
/* contacts.html */
#page5 #content .col-1 {width:87px}
#page5 #content .col-2 {width:175px}
#page5 #content .col-3 {width:340px}

/****common style****/
.img_right {
  float: right;
  padding: 10px;
  clear: both;
  position: relative;
  display: block;
}
.img_left {
  float: left;
  padding: 10px;
  clear: both;
  position: relative;
  display: block;
}

/*************http://guides.rubyonrails.org/layouts_and_rendering.html*/
.note{
  background: #BBD9FA;
  padding: 10px;
  margin: 5px 0;
  display: block;
}
.info{
  background: #F7F4BE;
  padding: 10px;
  margin: 5px 0;
  display: block;
}
.code{
  background: #FADFD9;
  padding: 10px;
  margin: 5px 0;
  display: block;
}

/*************table*******/
/*table { width: auto; border-collapse:collapse; margin-bottom: 0.5em; }
table.full { width: 100%; }
table.fixed { table-layout:fixed }

th,td { padding: 0.5em; }
thead th { background: #444; color: #fff }
tbody th { background: #ccc; color: #333 }
tbody th.sub { background: #ddd; color: #333 }*/

  table { width:auto; border-collapse:collapse; margin-bottom:0.5em; border-top:2px #888 solid; border-bottom:2px #888 solid; }
  table caption { font-variant:small-caps; }
  table.full { width:100%; }
  table.fixed { table-layout:fixed; }

  th,td { padding:0.5em; }
  thead th { color:#000; border-bottom:2px #800 solid; }
  tbody th { background:#e0e0e0; color:#333; }
  tbody th[scope="row"], tbody th.sub { background:#f0f0f0; }

  tbody th { border-bottom:1px solid #fff; text-align:left; }
  tbody td { border-bottom:1px solid #eee; }

  tbody tr:hover th[scope="row"],
  tbody tr:hover tbody th.sub { background:#f0e8e8; }
  tbody tr:hover td { background:#fff8f8; }