<% unless is_mobile_agent? %>
  <!-- footer -->
  <div id="footer">
    <div class="container">
      红宝石网版权所有 |
      <a href="http://www.miibeian.gov.cn/" target="_blank">蜀ICP备11016427号</a>|
      &copy;2012-2015 
    </div>
  </div>
<% end %>