<div class="footer">
    <p style="line-height:20px; text-align:left;">
		<a href='/pages/team'>服务团队</a> &nbsp;&nbsp;|&nbsp;&nbsp;
		<a href='/pages/contact'>联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href='/pages/advantage'>服务优势</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href='/pages/friend_link'>友情链接</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href='/pages/copyright'>免责声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href='/pages/help'>帮助中心</a>
		<br />
        Copyright @ 2008 - 2012 inRuby. All Rights Reserved.  关注：红宝石网络 设计在线: <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=94445362&site=qq&menu=yes"><img border="0" style="vertical-align:middle;"src="http://wpa.qq.com/pa?p=2:1846096206:42" alt="点击这里给我发消息" title="点击这里给我发消息"></a> </p>
</div>

