<div class="head">
  <div class="logo"><a href="#"><img src="/assets/logo.png" width="250px"/></a></div>
</div>
<div class="menu">
  <div class="meuu2">
    <ul>
      <li ><a href='/pages/home'>首页</a></li>
      <li ><a href='/pages/service'>服务</a></li>
      <li ><a href='/home/case'>成功案例</a></li>
      <li ><a href='/news_cates'>互联网观察</a></li>
      <li ><a href='/pages/about'>创投咨询</a></li>
      <li ><a href='/pages/about'>关于我们</a></li>
      <li ><a href='/pages/career'>人才招聘</a></li>
    </ul>
  </div>
</div>
