
<script type="text/javascript">
  $().ready(function() {
	$('.kwicks').kwicks({
		max: 205,
		spacing:  5
	});
  });
  function show_kwich(index){
	$(".kwicks ul >li").hide('fast');
	$("li#sub_kwick"+ index).slideToggle("slow");
  }
</script>

<ul class="kwicks" >
    <li id="kwick1"  class="main_kwick" onmouseover = "javascript: show_kwich(1);"> <a href="/pages/1"></a></li>
    <li id="kwick2"  class="main_kwick" onmouseover = "javascript: show_kwich(2);"> <a href="/pages/2"></a></li>
    <li id="kwick3"  class="main_kwick" onmouseover = "javascript: show_kwich(3);"> <a href="/pages/3"></a></li>
    <li id="kwick4"  class="main_kwick" onmouseover = "javascript: show_kwich(4);"> <a href="/pages/4"></a></li>
    <li id="kwick5"  class="main_kwick" onmouseover = "javascript: show_kwich(5);"> <a href="/pages/1"></a></li>
    <li id="kwick6"  class="main_kwick" onmouseover = "javascript: show_kwich(6);"> <a href="/pages/1"></a></li>
    <li id="kwick7"  class="main_kwick" onmouseover = "javascript: show_kwich(7);"> <a href="/pages/1"></a></li>
    <ul class="sub_kwicks">
	  <li id="sub_kwick1" class="sub_kwick">
<a href="#">1背景介绍</a><a href="#">企业文化</a><a href="#">品牌定位</a><a href="#">公司地址</a><a href="#">发展历程</a><a href="#">资质荣誉</a><a href="#">总部风采</a><a href="#">人才招聘</a>
	  </li>
	  <li id="sub_kwick2" class="sub_kwick">
<a href="#">2背景介绍</a><a href="#">企业文化</a><a href="#">品牌定位</a><a href="#">公司地址</a><a href="#">发展历程</a><a href="#">资质荣誉</a><a href="#">总部风采</a><a href="#">人才招聘</a>
	  </li>
	  <li id="sub_kwick3" class="sub_kwick">
<a href="#">背景介绍</a><a href="#">企业文化</a><a href="#">品牌定位</a><a href="#">公司地址</a><a href="#">发展历程</a><a href="#">资质荣誉</a><a href="#">总部风采</a><a href="#">人才招聘</a>
	  </li>
	  <li id="sub_kwick4" class="sub_kwick">4加盟标准  加盟流程  特许经营  特许优势  总部支持  服务特色  行业分析  问题解答</li>
	  <li id="sub_kwick5" class="sub_kwick">5加盟标准  加盟流程  特许经营  特许优势  总部支持  服务特色  行业分析  问题解答</li>
	  <li id="sub_kwick6" class="sub_kwick">6加盟标准  加盟流程  特许经营  特许优势  总部支持  服务特色  行业分析  问题解答</li>
	   <li id="sub_kwick7" class="sub_kwick">6加盟标准  加盟流程  特许经营  特许优势  总部支持  服务特色  行业分析  问题解答</li>
	</ul>
</ul>

